<div class="home-banner">
  <h1>MANY TOO MANY</h1>

  <div class="screen">
    <h3>BECAUSE 1 : N IS NEVER ENOUGH</h3>
  </div>

  <%= link_to "Add Your Drink", new_cocktail_path, class: "btn btn-primary" %>
</div>

<br>

<div class="container">
  <div class="row">

    <% @cocktails.each do |c| %>

      <div class="col-xs-12 col-sm-4">

        <div class="card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill %>')">

                 <%= link_to(raw("<i class='fa fa-thumbs-up' aria-hidden='true'></i>"), cocktail_vote_path(c.id), class: "card-user") %>
          <%= link_to cocktail_path(c.id), class: "card-link" do %>
          <div class="card-description">
            <h2><%= c.name %></h2>
            <p>(<%= c.stars %> votes)</p>
          </div>
          <% end %>



        </div>

      </div>

    <% end %>

  </div>
</div>

<br>

<em><center><i class='fa fa-copyright' aria-hidden='true'></i>2017   Don't drink and drive.  Don't even putt. --dean martin </center></em>

<br>
